/* src/components/hero/AnimatedTitle.module.css */

.wrapper {
  display: flex;
  justify-content: center;
}

.title {
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1.1;
  font-weight: 800;
  color: var(--text-white);
  text-align: center;
  font-family: var(--font-primary);
}

.highlight {
  color: var(--bg-title-word);
}