/* src/components/hero/Hero.module.css */

.hero {
  background: radial-gradient(circle at top right, #0a1a2f 0%, #020510 80%);

  color: var(--text-white);
  padding: 8rem 0 36px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--bg-header-bottom);
}

.highlight {
  color: var(--bg-title-word);
}
.subtitle {
  margin: 10px auto 18px;
  font-size: 1.6rem;
  font-family: var(--font-primary);
  letter-spacing: 1px;
  text-align: center;
  opacity: 0.95;
}
