/* src/components/hero/Hero.module.css */

.hero {
  background: linear-gradient(
      130deg,
      rgba(7, 51, 90, 0.788) 0%,
      rgba(0, 0, 0, 0.719) 40%
    ),
    linear-gradient(45deg, var(--accent-2), var(--accent));
  color: var(--text-white);
  padding: 48px 0 36px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--bg-header-bottom);
}

.highlight {
  color: var(--bg-title-word);
}
.subtitle {
  margin: 10px auto 18px;
  font-size: 1.6rem;
  font-family: var(--font-primary);
  letter-spacing: 1px;
  text-align: center;
  opacity: 0.95;
}
