/* src/components/layout/Footer.module.css */

.footer {
  border-top: 1px solid var(--border);
  background: var(--bg-header);
}
.copy {
  color: #ffffff;
  text-align: center;
  padding: 18px 0;
  font-size: 14px;
  font-family: var(--font-second);
}
.copy a {
  color: #02ffff;
}
.copy a:hover {
  text-decoration: underline;
}
